@font-face {
    font-family: 'alegreya_sansbold';
    src: url('/assets/alegreyasans-bold-webfont.eot');
    src: url('/assets/alegreyasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/alegreyasans-bold-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-bold-webfont.woff') format('woff'),
         url('/assets/alegreyasans-bold-webfont.ttf') format('truetype'),
         url('/assets/alegreyasans-bold-webfont.svg#alegreya_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}